<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Limpa os pacotes globais para garantir que apenas as fontes abaixo sejam usadas -->
    <clear />
    <!-- Adiciona a fonte oficial do NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>